
//============================================
//- IMPORTS
//============================================

@import 'fonts';

//============================================
//- END IMPORTS
//============================================



//============================================
//- VARIABLES
//============================================

$page-background: #151515;
$block-background: #222222;
$pagination-background: #1b1b1b;
$font-color : white;

//============================================
//- END VARIABLES
//============================================



//============================================
//- MIXINS
//============================================

@mixin block-header-wrapper {
    background-image: url('../images/stripe.png');
    background-color: #272c37;
    color: $font-color;
    padding: 1rem;
    border-bottom: 2px solid rgb(93, 255, 168);
    margin: 0;
}
@mixin block-wrapper {
    background-color: $block-background;
    padding: .5rem;
}
@mixin pagination {
    &_pagination{
        position: absolute;
        right: 0;
        width: 150px;
        padding-top: 1rem;
        & ul{
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: end;
            list-style: none;
            color: #898989;
            & li a{
                padding: .5rem;
                border: 1px solid black;
                background-color: #42484e;
                text-decoration: none;
                color: inherit;
                &:hover{
                    color: $font-color;
                    background-color: black;
                }
            } 
        }
    }
}

//============================================
//- END MIXINS
//============================================



//============================================
//- UNSET DEFAULT STYLES
//============================================

body{
    margin: 0;
}
input[type=button] {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}

//============================================
//- END UNSET DEFAULT STYLES
//============================================



//============================================
//-NAVBAR SECTION
//============================================
.nav{
    position: fixed;
    transition: width 5s ease;
    background-color: #23232e;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 9999;
    &:hover .logo a{
        filter: none;
        & .nav-text{
            color: $font-color;
        }
        & i{
            transform: rotate(-180deg) !important;
            &::before{
                color: rgb(93, 255, 168);
            }
        } 
    }
    &:hover a .nav-text{
        display: inline !important;
        position: relative !important;
        left: unset !important;
    }
    &:hover .nav-list a{
        width: 16rem;
    }
    & .nav-list{
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        transition: width 600ms ease;
        & .nav-link{
            &:hover{
                background-color: #141418;
                & a{
                    filter: grayscale(0) opacity(1) !important;
                    & i::before{
                        color: rgb(93, 255, 168);
                    }
                    & .nav-text{
                        color: $font-color;
                    }
                }
            }
            & i::before{
                font-size: 2rem;
                margin: 0 1.5rem;
                max-width: 70px;
            }
        }
        & .nav-text{
            display: none;
            margin-right: 2rem;
        }
        & .logo{
            font-weight: bold;
            text-transform: uppercase;
            margin-bottom: 1rem;
            text-align: center;
            font-size: 1.5rem;
            letter-spacing: .3ch;
            width: 100%;
            color: $font-color;
            background-color: #141418;
            & i{
                transform: rotate(0deg);
                transition: transform .5s;
                font-size: 3rem;
            }
        }
        & a{
            display: flex;
            align-items: center;
            height: 5rem;
            color: #b6b6b6;
            text-decoration: none;
            filter: grayscale(100%) opacity(.7);
            transition: filter 600ms;
            justify-content: space-around;
            & .nav-text{
                display: inline;
                position: absolute;
                left: -999px;
                transition: width 600ms ease;
                font-size: 1.5rem;
            }
        }
    }
}

//============================================
//- END NAVBAR SECTION
//============================================



//============================================
//- CONTENT SECTION MAIN PAGE
//============================================

.content{
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 5rem;
    width: calc(100vw - 9rem); 
    background-color: $page-background;
    height: 100vh;
    padding: 0 2rem;
    font-size: 1rem;
}
.matches{
    position: relative;
    padding-bottom: 3rem;
    @include pagination;
}
.matches_title, .rating-teams_title{
    @include block-header-wrapper;
}
.matches-rating-teams{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-column-gap: 1rem;
    @include block-wrapper;
}
.match{
    @include block-header-wrapper;
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    padding: unset;
    align-items: center;
    border-bottom: 1px solid #666666;
    &:nth-child(2n){
        background-color: #1b1b1b;
    }
    &:nth-child(2n-1){
        background-color: #272c31;
    }
    &:hover{
        background-color: #333333;
    }
    & a.teams{
        display: grid;
        grid-template-columns: 2fr 1fr 2fr;
        text-decoration: none;
        color: inherit;
        padding: 1rem 0;
        & span img:nth-child(n+1) {
            vertical-align: middle;
            margin-right: .5rem;
        }
        & span img:nth-child(2n-1) {
            vertical-align: middle;
            margin-left: .5rem;
        }
        & span:nth-child(3n-2){
            text-align: right;
        }
        & .vs{
            text-align: center;
        }
        & span:nth-child(5n-1){
            text-align: left;
        }
    }
    & .date-time{
        font-size: .8rem;
        color: #777;
    }
    & .tournament-logo{
        margin: auto;
    }
}
.tournaments{
    position: relative;
    padding-bottom: 3rem;
    @include pagination;
}
.tournaments_title{
    @include block-header-wrapper;
}
.tournaments-prize-tournaments{
    @include block-wrapper;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-column-gap: 1rem;
    & .tournament{
        @include block-header-wrapper;
        border-bottom: 1px solid #666666;
    }
    & .prize-tournaments_title{
        @include block-header-wrapper;
    }
}
.tournament{
    background-color: #222222 !important;
    display: grid;
    grid-template-columns: .5fr 1.5fr 1fr 1fr;
    &:hover{
        background-color: #333333 !important;
    }
    & a{
        color: #91CDD7;
        text-decoration: none;
        &:hover{
            color: #1e9acb;
        }
    } 
    &_prize{
        text-align: end;
    }
    &_date{
        text-align: center;
    }
    & .fa-dollar-sign{
        padding-right: .5rem;
    }
}

//============================================
//- END CONTENT SECTION MAIN PAGE
//============================================



//============================================
//- ADMIN PANEL CSS
//============================================

.menu-section{
    position: fixed;    
    width: 10rem;  
    height: 100vh;
    margin: 0;
    background-color: $block-background;
    & .menu{
        height: 20rem;
        &_list{
            list-style: none;
        }
        &_link{
            text-decoration: none;
            color: $font-color;
        }
    }
}

//============================================
//- END ADMIN PANEL CSS
//============================================

//============================================
//- ETRANCE CSS
//============================================

body{
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    justify-items: flex-end;
    background-color: $page-background;
}
.entrance-registration{
    display: grid;
    padding: 0;
    list-style: none;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    margin: 0;
    & a{
        display: block;
        padding: 1rem;
        text-decoration: none;
        color: inherit;
        background-color: #424f58;
        & i{
            padding-right: 5px;
        }
    }
    &_link__active{
        background-color: #19b087 !important;
    }
    &-wrapper{ 
        width: 22rem;
        margin: auto 1rem;
        color: $font-color;
        height: 25rem;
        justify-content: space-between;
        background-color: rgb(35, 35, 46);
        letter-spacing: 1px;
        padding: 1.5rem;
        font-family: 'Ubuntu';
        & form{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;
            & .login i:first-child, .password i:first-child{
                width: 40px;
                height: 56px;
                line-height: 56px;
                text-align: center;
                margin-right: -40px;
                position: relative;
                z-index: 1;
                float: left;
                color: #8c9399;
                font-size: 1.5rem;
            }
            & .require-field{
                opacity: 0;
                &::after{
                    content: "*";
                    width: 40px;
                    height: 56px;
                    line-height: 56px;
                    text-align: center;
                    position: absolute;
                    z-index: 1;
                    right: 0;
                    color: #18af87;
                }
            }
            & .login, .password{
                position: relative;
                & input{
                    height: 22px;
                    padding: 1rem 1rem 1rem 40px;
                    width: calc(100% - 58px);
                    border: 1px solid #8c9399;
                    background-color: #23232e;
                    color: #8c9399;
                    font-size: 1.5rem;
                    box-shadow: none;
                    &:valid:not(:placeholder-shown){
                        border-color: #18af87;
                    }
                    &:invalid:not(:placeholder-shown){
                        border-color: red;
                    }
                }
                & :focus::placeholder{
                    color: transparent;
                }
            }
            & input[type=submit]{
                padding: 1rem;
                background-color: #19b086;
                letter-spacing: 1px;
                font-size: 1.5rem;
                font-style: bold;
                font-family: 'Ubuntu';
                border: none;
                color: inherit;
                cursor: pointer;
            }
            & .remember-password{
                text-align: center;
                &_link{
                    text-align: center;
                    text-decoration: dashed underline;
                    color: #19b086;
                }
            }
            & label{
                font-size: 1.2rem;
                & span , i{
                    padding-left: 5px;
                    cursor: pointer;
                }
                input[type=checkbox]{
                    display: none;
                }
            }
        }
    }
   
}


//============================================
//- END ENTRANCE CSS
//============================================



//============================================
//- MEDIA REQUESTS
//============================================
@media (max-width: 700px){
    .rating-teams_title, .prize-tournaments{
        display: none;
    }
    .matches-rating-teams, .tournaments-prize-tournaments{
        grid-template-columns: unset;
        grid-gap: unset;
    }
    .match{
        grid-gap: unset;
        & a.teams{
            grid-template-rows: 1fr 1fr 1fr;
            grid-template-columns: unset;
            text-align: center;
            & span:nth-child(3n-2){
                text-align: center;
            }
        }
    }
    .nav{
        position: fixed;
        bottom: 0;
    }
}

//============================================
//- END MEDIA REQUESTS
//============================================
